<!DOCTYPE html>
<html lang="ES">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Formulario</title>
        <link rel="stylesheet" href="~/css/styles.css">
    </head>
    <body>
        <form action="Procesalogin" method="POST" class="formul">
            <div class="form-group">
                <label for="Nombre">Your Name:</label>
                <input id="Nombre" class="form-control" type="text" name="Nombre" />
            </div>
            <div class="form-group">
                <label for="Direccion">Dojo Location:</label>
                <select name="Direccion" id="Direccion" class="form-control" name="Dirección">
                    <option value="San Jose">San Jose</option>
                    <option value="Los Ángeles">Los Ángeles</option>
                </select>
            </div>
            <div>
                <label for="Lenguaje">Favorite Language</label>
                <select name="Lenguaje" id="Lenguaje" class="form-control" name="Lenguaje">
                    <option value="C#">C#</option>
                    <option value="Python">Python</option>
                </select>
            </div>
            <div class="comment">
                <label for="Comentario">Comment (optional):</label>
                <input id="Comentario" type="text" name="Comentario">
            </div>
            <button type="submit" class="btn">Submit</button>
        </form>
        
    </body>
</html>